*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,span,input,button,textarea,a,li{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.nav-body{
    margin: 0 12.5rem;
}
.navbar-collapse {
    flex-grow: 0;
}
.h-menu li a{
    color: #242f51!important;
    font-size: 1rem;
    font-weight: 400;
    transition:all .3s linear;
    padding: 0 !important;
}
.h-menu li a:hover{
    color: #fcae61 !important;;
    transition:all .3s linear;
}
.nav-button{
    background: rgb(37, 0, 249)!important;
    border-radius: 35px;
    transition: .3s;
    font-size: 1rem;
    font-weight: bold;
    transition:all .3s linear;

}
.nav-button:hover{
    background: #FEAA25 !important;
    color:#000 !important;
    transition:all .3s linear;
}
/******************************
     main-banare css here      
*******************************/
.main-banare{
    background: url(img/phone.png);
    background-position:top;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-row{
    align-items:center;
}
.b-icon{
    background:#feaa25 !important ;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}
.b-item1{
    background: #e2eaed !important;
    background-clip: content-box;
    display: inline-block;
    border-radius: 1rem;
    padding-right: 4rem;  
}
.b-left .b-item1 p{
    margin:0 ;
    font-size: 1.1rem;
    font-weight: 400;
    color: #242f51 !important;
    display: inline-block;
    margin-left: .5rem;
}
.b-left h1{
    font-size: 3.75rem;
    font-weight: 600;
    margin-top: .75rem;
    color: #242f51 !important;

}
.b-left .b-item2{
    font-size: 1.1rem;
    font-weight: 400;
    color: #616368 !important;
}
.b-form span{
    font-size: 1rem;
    font-weight: 600;
    margin-left: 2rem;
    color: #2500f9 !important;
    line-height: 3;
    cursor: pointer;
}
.b-form span:hover{
    color: #fcae61 !important;
}
/******************************
     feature-1 css here      
*******************************/
.feature1{
    width: 100%;
    padding: 6.25rem 0;
}
.f1-item h5{
    font-size: 1rem;
    font-weight: 400;
    color: #242f51 !important;
    margin-bottom: 2.5rem;
}
.owl-carousel .owl-item img {
    display:inline-block;
    width: auto;
}
.owl-nav,.owl-dots{
    display: none;
}
.owl-stage{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/******************************
     feature-2 css here      
*******************************/
.feature2{
    width: 100%;
    height: 100vh;
}
.f2-img{
    margin-top: 1rem;
}
.f2-item h1{
    font-size: 2.25rem;
    font-weight: 600;
    color: #242f51 !important;
    margin: 2.75rem 0 1rem 0;
}
.f2-item p{
    color: #616368 !important;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 4rem;
}
.f2-text1 h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #f55767 !important;
}
.f2-text2 h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #2563ff !important;
}
.f2-text3 h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #40975f !important;
}
/******************************
     feature-3 css here      
*******************************/
.feature3{
    width: 100%;
    padding: 7rem 0;

}
.f3-left h1{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.3;
    color: #242f51 !important;
    border-right: 2px solid #b9b9b8 !important;
}
.f3-right p{
    color: #616368 !important;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    line-height: 1.75rem;
}
/******************************
     feature-4 css here      
*******************************/
.feature4{
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
/******************************
     feature-5 css here      
*******************************/
.feature5{
    width: 100%;
    padding: 4rem 0;
    border-bottom:1px solid #eee !important;
}
.f5-right h1{
    font-size: 2.25rem;
    font-weight: 600;
    margin-right: 6.5rem;
}
.f5-right p{
    margin-right: .75rem;
    font-size: 1rem;
}
/******************************
     feature-6 css here      
*******************************/
.feature6{
    width: 100%;
    padding: 7rem 0;   
}
.h-f6{
    margin-top: .75rem;
    color: #242f51 !important;
    padding: 0 25rem;
    margin-right:0rem !important;
}
.f6-right p{
    font-size: 1rem;
    font-weight: 400;
    color: #616368 !important;
    margin: 0 20rem;
}
.h3-f6{
    font-size: 1.25rem;
    font-weight: 600;
    color: #242f51 !important;
}
/******************************
     feature-7 css here      
*******************************/
.feature7{
    width: 100%;
    padding: 4rem 0; 
    border-bottom: 1;  
}
.h-f7{
    padding-right: 12rem;
}
.f7-img{
    padding-right: 0 ;
}
/******************************
     feature-8 css here      
*******************************/
.feature8{
    width: 100%;
    padding: 7rem 0 7rem 0;
    border-bottom: 1px solid #ebebeb !important;

}
.h-f8{
    margin: 0 22rem;
    font-size: 2.25rem;
    font-weight: 600;
    color: #242f51 !important;
}
.f8-right p{
    font-size: 1.1rem;
    font-weight: 400;
    color: #616368 !important;
    margin: 0 17.75rem;
    
}
.price-btn{
    display: inline-block;
    border: 1px solid #ebebeb !important;
    border-radius: 35px;
    padding: 1px;
    margin: 3rem auto;

}
.manualy-btn1,
.manualy-btn2{
    border: none;
    padding: 10px 20px;
    background: transparent;
    border-radius: 35px;
    color: #898a8e !important;
    font-weight: 500;
    font-size: 1rem;
}
.toggle-btn{
    background: #2500f9 !important;
    transition: .5s;
    color: #fff !important;

}
.price-table1,
.price-table2{
    border: 3px solid #ebebeb !important;
    text-align: center;
    padding-bottom: 2.25rem;
    border-radius: .75rem;
    
}
.price-header{
    background-image: linear-gradient(to bottom, #fdfefe, #fbfcfd, #f8fbfb, #f6f9fa, #f4f7f9);
    padding: 3.5rem 0 1.75rem 0;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}
.price-header h1{
    font-size: 3.75rem;
    font-weight: 600;
    color: #242f51 !important;
}
.price-header h1 span{
    font-size: 1.1rem;
    font-weight: 400;
    color: #999ca5 !important;
}
.price-header h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #242f51 !important;
    margin-top: 1.25rem;
    margin-bottom: 0;
}
.price-header p{
    font-size: 1rem;
    font-weight: 400;
    color: #999ca5 !important;
    margin-top: 0.4rem;
}
.price-body ul{
    margin-top: 1.5rem;
    padding-left: 0;
    margin-bottom: 1.8rem;
}
.price-body ul li{
    font-size: 1rem;
    font-weight: 400;
    color: #999ca5 !important;
    padding-top: 1.1rem;
}
.price-body p{
    font-size: 1rem;
    font-weight: 400;
    color: #2500f9 !important;
    padding-top: 1.75rem;
    margin-bottom: 0 ;
    cursor: pointer;
    transition:all .3s linear;

} 
.price-body p:hover{
    color:#FEAA25 !important ;
    transition:all .3s linear;
    font-weight: 600;
}
.table-shadow{
    box-shadow: 0rem 3rem 2rem 1px #eef1f3 !important;
    border: none !important;
    transition:all .3s linear;
}
/******************************
     feature-9 css here      
*******************************/
.feature9{
    width: 100%;
    padding: 9.5rem 0 9.5rem 0;
    
}
.testimonal-1 h1{
    font-size: 2.5rem;
    font-weight: 600;
    color: #242f51 !important;
    margin-right: 6rem;
}
.testimonal-1 p{
    font-size: 1rem;
    font-weight: 400;
    color: #616368 !important;
    margin-right: 7rem;
    margin-top: 1.2rem;
    margin-bottom: 2.25rem;
}
.p-f9{    
    margin-right: 0rem !important;   
}
.testimonal-2 i{
    color: #ffcc00 !important;
}
.testimonal-2 h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: #242f51 !important;
    margin-top: 1.5rem;
}
.profile-body{
    margin-top: 4.75rem;
}
.profile h2{
    font-size: 1.125rem;
    font-weight: 600;
    color: #242f51 !important;
    cursor: pointer;
}
.profile p{
    margin: 0 ;
    font-size: 1.125rem;
}
.f9-testimonal{
    position: absolute;
    left: 0 ;
    top: 14rem;
    
}
.carousel-control-prev {
    left: 35rem;
    
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 18rem;
    bottom: 0;
    z-index: 1;
    display: inline-block;
    /* align-items: flex-end;
    justify-content: flex-end; */
    width: 0%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-prev-icon {
    background-image: url(img/arrow-left-short.svg);
    background-color: #eff3f8 !important;
    background-size: 25px;
    width: 40px !important;
    height: 40px !important;
    display: inline-block;
    border-radius: 50px;
    color: #dee1e6;
    border: 3px solid #eff3f8 !important;
    text-align: center;
    line-height: 40px;
}
.carousel-control-next-icon {
    background-image: url(img/arrow-right-short.svg);
    background-color: #eff3f8 !important;
    background-size: 25px;
    width: 40px !important;
    height: 40px !important;
    display: inline-block;
    border-radius: 50px;
    color: #dee1e6;
    border: 3px solid #eff3f8 !important;
    text-align: center;
    line-height: 40px;
}
/******************************
     feature-10 css here      
*******************************/
.feature10{
    width: 100%;
    padding: 9.5rem 0 7.5rem 0;
    border-bottom: 1px solid #ebebeb !important;
}
.accordion-item{
    margin-bottom: .63rem;
    background: #f5f7fa !important;
    border: none;
}
.accordion-item:first-of-type {
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}
.accordion-item:last-of-type {
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
}
.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background: #f5f7fa !important;
    box-shadow:none;
}
.accordion-button{
    background: #f5f7fa !important;
    font-size: 1.25rem;
    font-weight: 500;
    color: #242f51 !important;
    padding-left: 2.8rem;

}
.accordion-button:focus {
    font-weight: 600;
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow:none;
}
.accordion-body{
    font-size: 1rem;
    font-weight: 400;
    color: #616368 !important;
    padding-bottom: 4.5rem;
    padding-left: 2.8rem;
    padding-right: 5rem;
}
.accordion-button::after{
    background-image: url(img/icons8-plus-math-24.png);
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: rotate(0deg);
}
/******************************
     feature-11 css here      
*******************************/
.feature11{
    width: 100%;
    padding: 6rem 0 5.4rem 0;
    position: relative;
}
.f11-download{
    position: absolute;
    right: 0 ;
    top: 0.75rem ;  
}
.download h1{
    font-size: 3rem;
    font-weight: 600;
    color: #242f51 !important;
    cursor: pointer;
   
}
.download p{
    font-size: 1rem;
    font-weight: 400;
    color: #616368 !important;
    margin-top: 2rem;
}
.cursor{
    cursor: pointer;
}
/******************************
     footer section css here      
*******************************/
.footer{
    width: 100%;
    padding: 6.85rem 0;
    background: #09142e !important;
    border-bottom: 1px solid #ebebeb !important;
}
.footer-body h1{
    color: #fcae61 !important;
    font-size: 1.9rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    cursor: pointer;
}
.footer-body h1 span{
    color: #fff !important;
}
.f-menu li{
    display: inline-block;
}
.f-menu li a{
    color: #fff!important;
    font-size: 1rem;
    font-weight: 400;
    transition:all .3s linear;
    padding-left: 0 !important;
    padding-right: 0 !important;

}
.f-menu li a:hover{
    color: #fcae61 !important;;
    transition:all .3s linear;
}
.footer-body i{
    margin-top: 2.5rem;
    color: #273043 !important;
    font-size: 1.9rem;
    font-weight: 400;
    margin-right: 1.75rem;
    cursor: pointer;
}
.footer-body .slack{
    color: #fff !important;
}
.footer-body p{
    color: #3d465a !important;
    margin-top: 5.5rem;
    font-size: 0.9rem;
    font-weight: 400;
}